/* colours
 * light grey: #f6f6f6
 * whool white: #e8e8e8
 * dark grey: #333
 * deep red: #990100
 * bright red: #b90504
*/

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* demo layout */

.layout-wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #18254A;
  cursor: pointer;
  border: 1px solid black;
  background: #fff;
}


/* preview */

.debugmode * {
  border-color: transparent;
  outline: 1px solid red;
}

.debugmode img,
.debugmode input,
.debugmode textarea {
  visibility: hidden;
}
